.DS_Store
profile
node_modules
log
data
*production-compressed.js
*production-compressed.jsgz
*production.js
darkroll-staging.tmproj
app/videos/*
*.tmproj
.ruby-version
Gemfile
Gemfile.lock
version.txt
coverage
app/build
*.swp
app/build
out
*.sublime-*
bin/fabfile/ip*
*.pyc
